asgiref==3.8.1
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
distlib==0.3.8
Django==5.0.7
filelock==3.15.4
future==1.0.0
huepy==1.2.1
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
iniconfig==2.0.0
instabot==0.117.0
mock==5.1.0
moviepy==1.0.3
numpy==2.0.1
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
proglog==0.1.10
PySocks==1.7.1
pytest==8.3.2
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
responses==0.25.3
schedule==1.2.2
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.1
tqdm==4.66.5
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
