<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Cdetails.css' %}"> <!-- Load the static template tag -->
</head>
<body>
    <h1>Customer List</h1>
    <table>
        <thead>
            <tr>
                <th>Sn.No</th>
                <th>Customer Name</th>
                <th>Date</th>
                <th>Purchased Product</th>
                <th>Profile Picture</th>
                {% if user == 'admin' %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for customer in details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ customer.c_name }}</td>
                <td>{{ customer.Date }}</td>
                <td>{{ customer.Purchase_product }}</td>
                <td>
                    {% if customer.profilepic %}
                        <img src="{{ customer.profilepic.url }}" alt="Profile Picture" class="profile-pic">
                    {% else %}
                        No picture available
                    {% endif %}
                </td>
                {% if user == 'admin' %}
                <td>
                    <a href="{% url 'update' customer.id %}">Update</a>
                    <a href="{% url 'deleteuser' customer.id %}">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No customer data available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn">
        <a href="{% url 'Homepage' %}">Home</a>
        {% if user == 'admin' %}
        <a href="{% url 'admin:index' %}">Admin</a>
        <a href="{% url 'customerForm' %}">Customer Register</a>
        <a href="{% url 'productForm' %}">Product Register</a>
        {% endif %}
        <a href="{% url 'customerdetails' %}">Customer Details</a>
    </div>
</body>

</html>
